# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# Other IDE files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local configuration
*.local

# Project files / personal notes
cheatSheet